h1{ color: red;
	font-size: 30px;
	text-align: center;
}

h2{ color: #00E82D;
	font-size: 25px;
	text-align: center;
}
#nav ul{
	text-align: center;
}
#nav li{
	display: inline;
	list-style: none;/* necessaire pour IET */
}
#nav a {
	display: inline-block;
	margin: 20px;
	background:#FA100D;/*couleur de fond */
	width: 350px;
	text-decoration: none; /* pas d'héritage avec effet souligné */
	height: 20px; /* hauteur */
	line-height: 10 40 10 40px;/* interligne */
	padding: 20px; /* marge intérieur */
	font-family: sans-serif; /* police d'ecriture */
	font-size: 25px; /* taille du texte */
	color: black;
	border-radius: 15px;
	text-align: center;
	display: center;
}

#nav a:hover{background:white;
			text-align: center;
}

table{ 
	border: 1px solid black;
}

tr{		
	background-color:
}

td{ border: 1px solid black;

}


th{ border: 1px solid black;

}

caption{
		font-size: 30px;
		color: red;
		text-decoration: underline;
		padding-bottom: 10px
}

#pausedemidi{
	background-color: #DDF500;
}

#nav li{ display: inline-block;

}


